.whiteboardContainer {
	@include full-in-father();
	position: relative;
	color: useColor(success, 7);
	background-color: useColor(white, 1);
	border-radius: useRadius(3);
	box-shadow: useShadow(3);
}
