// border
@mixin bd($vals...) {
	border: $vals !important;
}

@mixin bd-top($vals...) {
	border-top: $vals !important;
}

// border-bottom
@mixin bd-bottom($vals...) {
	border-bottom: $vals !important;
}

@mixin bd-left($vals...) {
	border-left: $vals !important ;
}

@mixin bd-right($vals...) {
	border-right: $vals !important;
}

// border-color
@mixin bd-color($val) {
	border-color: $val !important;
}

@mixin bd-radius($val) {
	border-radius: $val;
}
