/// 宽高
// height
@mixin height($val) {
	height: $val !important;
}

// width
@mixin width($val) {
	@if $val == 100% {
		width: 100%;
	} @else {
		width: $val !important;
	}
}

/// 外边距
// margin
@mixin mg($vals...) {
	margin: $vals;
}

// margin-top
@mixin mg-top($val) {
	margin-top: $val !important;
}

// margin-right
@mixin mg-right($val) {
	margin-right: $val !important;
}

// margin-bottom
@mixin mg-bottom($val) {
	margin-bottom: $val !important;
}

// margin-left
@mixin mg-left($val) {
	margin-left: $val !important;
}

/// 内边距
// padding
@mixin pd($val) {
	padding: $val !important;
}

// padding-top
@mixin pd-top($val) {
	padding-top: $val !important;
}

// padding-right
@mixin pd-right($val) {
	padding-right: $val !important;
}

// padding-bottom
@mixin pd-bottom($val) {
	padding-bottom: $val !important;
}

// padding-left
@mixin pd-left($val) {
	padding-left: $val !important;
}

@mixin display($val, $direction: column, $justify: center, $align: center) {
	display: $val;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
}

@mixin flex($val) {
	flex: 1;
}
