// color
@mixin text-color($val) {
	color: $val !important;
}

@mixin text-color-hover($val) {
	&:hover {
		color: $val !important;
	}
}

@mixin text-color-active($val) {
	&:active {
		color: $val !important;
	}
}

@mixin text-color-disabled($val) {
	&:disabled {
		color: $val !important;
	}
}

@mixin ft-sz($val) {
	font-size: $val !important;
}

@mixin ft-fy($val) {
	font-family: $val !important;
}

@mixin ft-wt($val) {
	font-weight: $val !important;
}
