@include reset-style($resetEls);
@include reset-style-for-old-browser();
@include full-page($fullPageEls);
@include define-color-var($colors);
@include define-color-status-var($typeStatusMap);
@include define-component-color-var($components);
@include define-box-shadow($shadows);
@include define-radius($radiuslist);

.layout {
	@include full-in-father();
	background-color: useColor(info, 2);
	padding: 0 12px;
	padding-left: 0;
	width: 100%;

	.main {
		@include full-in-father();
		@include display(flex);
		padding: 10px;

		.whiteboardContainer {
			@include full-in-father();
			flex: 1;
			padding: 0;
		}

		.toolPanelContainer {
			background-color: useColor(white, 1);
			width: 438px;
			height: 50px;
			border-radius: useRadius(3);
			box-shadow: useShadow(2);
			margin-top: 10px;
		}
	}

	.rightSide {
		@include full-in-father();
		padding-top: 10px;

		.propPanelContainer {
			padding: 10px;
			background-color: useColor(white, 1);
			border-radius: useRadius(12px);
			box-shadow: useShadow(3);
			height: 90%;
			width: 100%;
		}
	}
}
