.selectedElementWrapper {
	position: absolute;
	border: 2px dashed rgb(0, 170, 255);
	padding: 8px;
}

.selectedElementWrapper.notSelected {
	border-color: transparent;
}

.selectedEelementWrapperDots {
	position: static;
}
